SLT 1st Floor Canteen/SLT 1st Floor Canteen.json
[
    {
        "id": "3e4ec9d64cc2150e",
        "type": "tab",
        "label": "SLT 1st Floor Canteen (Avishka and Vishwa)",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b16de7345d4b1435",
        "type": "function",
        "z": "3e4ec9d64cc2150e",
        "d": true,
        "name": "Prepare InfluxDB Data",
        "func": "// Prepare data for InfluxDB - Handle specific required fields only\ntry {\n    const data = msg.payload;\n    \n    // Validate input data\n    if (!data || typeof data !== 'object') {\n        node.error(\"Invalid payload - expected object\");\n        return null;\n    }\n    \n    const timestamp = new Date().toISOString();\n\n    // Function to ensure value is a valid number\n    function ensureNumber(value) {\n        if (value === null || value === undefined || value === \"\") return null;\n        if (typeof value === 'number') {\n            return isNaN(value) || !isFinite(value) ? null : Number(value.toFixed(3));\n        }\n        if (typeof value === 'string') {\n            const cleaned = value.replace(/[^0-9.-]/g, '').trim();\n            if (cleaned === '' || cleaned === '-' || cleaned === '.') return null;\n            const num = parseFloat(cleaned);\n            return isNaN(num) || !isFinite(num) ? null : Number(num.toFixed(3));\n        }\n        return null;\n    }\n\n    // Create fields object for specific required values only\n    const fields = {};\n    \n    // Required fields mapping based on your specification\n    const requiredFields = {\n        // Voltage readings\n        'voltage_v1n': data.voltage_v1n,\n        'voltage_v2n': data.voltage_v2n, \n        'voltage_v3n': data.voltage_v3n,\n        'average_voltage_ln': data.average_voltage_ln,\n        \n        // Current readings\n        'current_i1': data.current_i1,\n        'current_i2': data.current_i2,\n        'current_i3': data.current_i3,\n        'average_current': data.average_current,\n        \n        // Power readings (kW)\n        'kw1': data.kw1,\n        'kw2': data.kw2,\n        'kw3': data.kw3,\n        'total_kw': data.total_kw,\n        \n        // Apparent power (kVA)\n        'kva1': data.kva1,\n        'kva2': data.kva2,\n        'kva3': data.kva3,\n        'total_kva': data.total_kva,\n        \n        // Power factor\n        'pf1': data.pf1 || data.power_factor1,\n        'pf2': data.pf2 || data.power_factor2,\n        'pf3': data.pf3 || data.power_factor3,\n        'average_pf': data.average_pf || data.average_power_factor,\n        \n        // Frequency\n        'frequency': data.frequency,\n        \n        // Energy readings\n        'total_net_kwh': data.total_net_kwh,\n        'total_net_kvah': data.total_net_kvah,\n        \n        // Maximum demand readings\n        'max_i1_demand': data.max_i1_demand,\n        'max_i2_demand': data.max_i2_demand,\n        'max_i3_demand': data.max_i3_demand,\n        'max_avg_i_demand': data.max_avg_i_demand\n    };\n    \n    // Process only the required fields\n    for (const [fieldName, value] of Object.entries(requiredFields)) {\n        if (value !== undefined && value !== null) {\n            const processedValue = ensureNumber(value);\n            if (processedValue !== null) {\n                fields[fieldName] = processedValue;\n            }\n        }\n    }\n    \n    // Check if we have at least one valid field\n    if (Object.keys(fields).length === 0) {\n        node.warn(\"No valid required fields found. Available data fields: \" + \n                  Object.keys(data).filter(key => !['raw_registers', 'unit', 'timestamp'].includes(key)).join(', '));\n        return null;\n    }\n\n    // Create InfluxDB format with only required fields\n    msg.payload = {\n        ...fields,\n        device: \"SLT 1st floor\",\n        location: \"Canteen\"\n    };\n\n    node.log(`Sending ${Object.keys(fields).length} required parameters to InfluxDB: ${Object.keys(fields).join(', ')}`);\n    \n    return msg;\n    \n} catch (error) {\n    node.error(\"Error preparing InfluxDB data: \" + error.message);\n    return null;\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 540,
        "wires": [
            [
                "beec68660c6fa669"
            ]
        ]
    },
    {
        "id": "57921d2b8cf0d558",
        "type": "function",
        "z": "3e4ec9d64cc2150e",
        "d": true,
        "name": "Voltage_V3",
        "func": "// Convert 2 registers to float32 for Voltage V3N\n// Assuming big-endian byte order (most common)\n\nif (msg.payload && msg.payload.length >= 2) {\n    // Get the two 16-bit register values\n    const reg1 = msg.payload[0];  // High register\n    const reg2 = msg.payload[1];  // Low register\n\n    // Create a buffer for the float conversion\n    const buffer = Buffer.alloc(4);\n\n    // Write as big-endian 16-bit values\n    buffer.writeUInt16BE(reg1, 0);\n    buffer.writeUInt16BE(reg2, 2);\n\n    // Read as big-endian float32\n    const voltageV3N = buffer.readFloatBE(0);\n\n    msg.payload = {\n        raw_registers: [reg1, reg2],\n        voltage_v3n: voltageV3N,\n        unit: \"V\",\n        timestamp: new Date().toISOString()\n    };\n\n    return msg;\n} else {\n    node.error(\"Invalid payload received\");\n    return null;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 140,
        "wires": [
            [
                "b16de7345d4b1435"
            ]
        ]
    },
    {
        "id": "7fc04ca97e81f841",
        "type": "function",
        "z": "3e4ec9d64cc2150e",
        "d": true,
        "name": "Voltage_V2",
        "func": "// Convert 2 registers to float32 for Voltage V2N\nif (msg.payload && msg.payload.length >= 2) {\n    const reg1 = msg.payload[0];\n    const reg2 = msg.payload[1];\n\n    // Create a buffer for the float conversion\n    const buffer = Buffer.alloc(4);\n    buffer.writeUInt16BE(reg1, 0);\n    buffer.writeUInt16BE(reg2, 2);\n\n    // Read as big-endian float32\n    const voltageV2N = buffer.readFloatBE(0);\n\n    msg.payload = {\n        voltage_v2n: voltageV2N,\n        unit: \"V\",\n        timestamp: new Date().toISOString()\n    };\n\n    return msg;\n} else {\n    node.error(\"Invalid payload received\");\n    return null;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 100,
        "wires": [
            [
                "b16de7345d4b1435"
            ]
        ]
    },
    {
        "id": "518592087ce1e67b",
        "type": "function",
        "z": "3e4ec9d64cc2150e",
        "d": true,
        "name": "Current I1",
        "func": "// Convert 2 registers to float32 for Current I1\n// Assuming big-endian byte order (most common)\n\nif (msg.payload && msg.payload.length >= 2) {\n    // Get the two 16-bit register values\n    const reg1 = msg.payload[0];  // High register\n    const reg2 = msg.payload[1];  // Low register\n\n    // Create a buffer for the float conversion\n    const buffer = Buffer.alloc(4);\n\n    // Write as big-endian 16-bit values\n    buffer.writeUInt16BE(reg1, 0);\n    buffer.writeUInt16BE(reg2, 2);\n\n    // Read as big-endian float32\n    const currentI1 = buffer.readFloatBE(0);\n\n    msg.payload = {\n        raw_registers: [reg1, reg2],\n        current_i1: currentI1,\n        unit: \"A\",\n        timestamp: new Date().toISOString()\n    };\n\n    return msg;\n} else {\n    node.error(\"Invalid payload received\");\n    return null;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 220,
        "wires": [
            [
                "b16de7345d4b1435"
            ]
        ]
    },
    {
        "id": "cff6208d633cd079",
        "type": "function",
        "z": "3e4ec9d64cc2150e",
        "d": true,
        "name": "Current I2",
        "func": "// Convert 2 registers to float32 for Current I2\n// Assuming big-endian byte order (most common)\n\nif (msg.payload && msg.payload.length >= 2) {\n    // Get the two 16-bit register values\n    const reg1 = msg.payload[0];  // High register\n    const reg2 = msg.payload[1];  // Low register\n\n    // Create a buffer for the float conversion\n    const buffer = Buffer.alloc(4);\n\n    // Write as big-endian 16-bit values\n    buffer.writeUInt16BE(reg1, 0);\n    buffer.writeUInt16BE(reg2, 2);\n\n    // Read as big-endian float32\n    const currentI2 = buffer.readFloatBE(0);\n\n    msg.payload = {\n        raw_registers: [reg1, reg2],\n        current_i2: currentI2,\n        unit: \"A\",\n        timestamp: new Date().toISOString()\n    };\n\n    return msg;\n} else {\n    node.error(\"Invalid payload received\");\n    return null;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 260,
        "wires": [
            [
                "b16de7345d4b1435"
            ]
        ]
    },
    {
        "id": "f9545dd3bfde78ee",
        "type": "function",
        "z": "3e4ec9d64cc2150e",
        "d": true,
        "name": "Current I3",
        "func": "// Convert 2 registers to float32 for Current I3\n// Assuming big-endian byte order (most common)\n\nif (msg.payload && msg.payload.length >= 2) {\n    // Get the two 16-bit register values\n    const reg1 = msg.payload[0];  // High register\n    const reg2 = msg.payload[1];  // Low register\n\n    // Create a buffer for the float conversion\n    const buffer = Buffer.alloc(4);\n\n    // Write as big-endian 16-bit values\n    buffer.writeUInt16BE(reg1, 0);\n    buffer.writeUInt16BE(reg2, 2);\n\n    // Read as big-endian float32\n    const currentI3 = buffer.readFloatBE(0);\n\n    msg.payload = {\n        raw_registers: [reg1, reg2],\n        current_i3: currentI3,\n        unit: \"A\",\n        timestamp: new Date().toISOString()\n    };\n\n    return msg;\n} else {\n    node.error(\"Invalid payload received\");\n    return null;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 300,
        "wires": [
            [
                "b16de7345d4b1435"
            ]
        ]
    },
    {
        "id": "fbea3ffbabde683b",
        "type": "function",
        "z": "3e4ec9d64cc2150e",
        "d": true,
        "name": " kW1",
        "func": "// Convert 2 registers to float32 for kW1\n// Assuming big-endian byte order (most common)\n\nif (msg.payload && msg.payload.length >= 2) {\n    // Get the two 16-bit register values\n    const reg1 = msg.payload[0];  // High register\n    const reg2 = msg.payload[1];  // Low register\n\n    // Create a buffer for the float conversion\n    const buffer = Buffer.alloc(4);\n\n    // Write as big-endian 16-bit values\n    buffer.writeUInt16BE(reg1, 0);\n    buffer.writeUInt16BE(reg2, 2);\n\n    // Read as big-endian float32\n    const kW1 = buffer.readFloatBE(0);\n\n    msg.payload = {\n        raw_registers: [reg1, reg2],\n        kw1: kW1,\n        unit: \"kW\",\n        timestamp: new Date().toISOString()\n    };\n\n    return msg;\n} else {\n    node.error(\"Invalid payload received\");\n    return null;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 340,
        "wires": [
            [
                "b16de7345d4b1435"
            ]
        ]
    },
    {
        "id": "696e9d6f39561017",
        "type": "function",
        "z": "3e4ec9d64cc2150e",
        "d": true,
        "name": "kVA3",
        "func": "// Convert 2 registers to float32 for kVA3\n// Assuming big-endian byte order (most common)\n\nif (msg.payload && msg.payload.length >= 2) {\n    // Get the two 16-bit register values\n    const reg1 = msg.payload[0];  // High register\n    const reg2 = msg.payload[1];  // Low register\n\n    // Create a buffer for the float conversion\n    const buffer = Buffer.alloc(4);\n\n    // Write as big-endian 16-bit values\n    buffer.writeUInt16BE(reg1, 0);\n    buffer.writeUInt16BE(reg2, 2);\n\n    // Read as big-endian float32\n    const kVA3 = buffer.readFloatBE(0);\n\n    msg.payload = {\n        raw_registers: [reg1, reg2],\n        kva3: kVA3,\n        unit: \"kVA\",\n        timestamp: new Date().toISOString()\n    };\n\n    return msg;\n} else {\n    node.error(\"Invalid payload received\");\n    return null;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 540,
        "wires": [
            [
                "b16de7345d4b1435"
            ]
        ]
    },
    {
        "id": "2c592bcccc050d9e",
        "type": "function",
        "z": "3e4ec9d64cc2150e",
        "d": true,
        "name": "kW3",
        "func": "// Convert 2 registers to float32 for kW3\n// Assuming big-endian byte order (most common)\n\nif (msg.payload && msg.payload.length >= 2) {\n    // Get the two 16-bit register values\n    const reg1 = msg.payload[0];  // High register\n    const reg2 = msg.payload[1];  // Low register\n\n    // Create a buffer for the float conversion\n    const buffer = Buffer.alloc(4);\n\n    // Write as big-endian 16-bit values\n    buffer.writeUInt16BE(reg1, 0);\n    buffer.writeUInt16BE(reg2, 2);\n\n    // Read as big-endian float32\n    const kW3 = buffer.readFloatBE(0);\n\n    msg.payload = {\n        raw_registers: [reg1, reg2],\n        kw3: kW3,\n        unit: \"kW\",\n        timestamp: new Date().toISOString()\n    };\n\n    return msg;\n} else {\n    node.error(\"Invalid payload received\");\n    return null;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 420,
        "wires": [
            [
                "b16de7345d4b1435"
            ]
        ]
    },
    {
        "id": "c1ccd0569b6f4ee2",
        "type": "function",
        "z": "3e4ec9d64cc2150e",
        "d": true,
        "name": "kVA2",
        "func": "// Convert 2 registers to float32 for kVA2\n// Assuming big-endian byte order (most common)\n\nif (msg.payload && msg.payload.length >= 2) {\n    // Get the two 16-bit register values\n    const reg1 = msg.payload[0];  // High register\n    const reg2 = msg.payload[1];  // Low register\n\n    // Create a buffer for the float conversion\n    const buffer = Buffer.alloc(4);\n\n    // Write as big-endian 16-bit values\n    buffer.writeUInt16BE(reg1, 0);\n    buffer.writeUInt16BE(reg2, 2);\n\n    // Read as big-endian float32\n    const kVA2 = buffer.readFloatBE(0);\n\n    msg.payload = {\n        raw_registers: [reg1, reg2],\n        kva2: kVA2,\n        unit: \"kVA\",\n        timestamp: new Date().toISOString()\n    };\n\n    return msg;\n} else {\n    node.error(\"Invalid payload received\");\n    return null;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 500,
        "wires": [
            [
                "b16de7345d4b1435"
            ]
        ]
    },
    {
        "id": "d3d0d04a512cf95a",
        "type": "function",
        "z": "3e4ec9d64cc2150e",
        "d": true,
        "name": "MAX I1 Demand",
        "func": "// Convert 2 registers to float32 for MAX I1 Demand\n// Assuming big-endian byte order (most common)\n\nif (msg.payload && msg.payload.length >= 2) {\n    // Get the two 16-bit register values\n    const reg1 = msg.payload[0];  // High register\n    const reg2 = msg.payload[1];  // Low register\n\n    // Create a buffer for the float conversion\n    const buffer = Buffer.alloc(4);\n\n    // Write as big-endian 16-bit values\n    buffer.writeUInt16BE(reg1, 0);\n    buffer.writeUInt16BE(reg2, 2);\n\n    // Read as big-endian float32\n    const maxI1Demand = buffer.readFloatBE(0);\n\n    msg.payload = {\n        raw_registers: [reg1, reg2],\n        max_i1_demand: maxI1Demand,\n        unit: \"A\",\n        timestamp: new Date().toISOString()\n    };\n\n    return msg;\n} else {\n    node.error(\"Invalid payload received\");\n    return null;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 940,
        "wires": [
            [
                "b16de7345d4b1435"
            ]
        ]
    },
    {
        "id": "9fc5298dada5a021",
        "type": "function",
        "z": "3e4ec9d64cc2150e",
        "d": true,
        "name": "Total net kVAh",
        "func": "// Convert 2 registers to float32 for Total net kVAh\n// Assuming big-endian byte order (most common)\n\nif (msg.payload && msg.payload.length >= 2) {\n    // Get the two 16-bit register values\n    const reg1 = msg.payload[0];  // High register\n    const reg2 = msg.payload[1];  // Low register\n\n    // Create a buffer for the float conversion\n    const buffer = Buffer.alloc(4);\n\n    // Write as big-endian 16-bit values\n    buffer.writeUInt16BE(reg1, 0);\n    buffer.writeUInt16BE(reg2, 2);\n\n    // Read as big-endian float32\n    const totalNetKVAh = buffer.readFloatBE(0);\n\n    msg.payload = {\n        raw_registers: [reg1, reg2],\n        total_net_kvah: totalNetKVAh,\n        unit: \"kVAh\",\n        timestamp: new Date().toISOString()\n    };\n\n    return msg;\n} else {\n    node.error(\"Invalid payload received\");\n    return null;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 900,
        "wires": [
            [
                "b16de7345d4b1435"
            ]
        ]
    },
    {
        "id": "69b6608c730c957e",
        "type": "function",
        "z": "3e4ec9d64cc2150e",
        "d": true,
        "name": "Total net kWh",
        "func": "// Convert 2 registers to float32 for Total net kWh\n// Assuming big-endian byte order (most common)\n\nif (msg.payload && msg.payload.length >= 2) {\n    // Get the two 16-bit register values\n    const reg1 = msg.payload[0];  // High register\n    const reg2 = msg.payload[1];  // Low register\n\n    // Create a buffer for the float conversion\n    const buffer = Buffer.alloc(4);\n\n    // Write as big-endian 16-bit values\n    buffer.writeUInt16BE(reg1, 0);\n    buffer.writeUInt16BE(reg2, 2);\n\n    // Read as big-endian float32\n    const totalNetKWh = buffer.readFloatBE(0);\n\n    msg.payload = {\n        raw_registers: [reg1, reg2],\n        total_net_kwh: totalNetKWh,\n        unit: \"kWh\",\n        timestamp: new Date().toISOString()\n    };\n\n    return msg;\n} else {\n    node.error(\"Invalid payload received\");\n    return null;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 860,
        "wires": [
            [
                "b16de7345d4b1435"
            ]
        ]
    },
    {
        "id": "956bbbb98e387051",
        "type": "function",
        "z": "3e4ec9d64cc2150e",
        "d": true,
        "name": "Frequency",
        "func": "// Convert 2 registers to float32 for Frequency\n// Assuming big-endian byte order (most common)\n\nif (msg.payload && msg.payload.length >= 2) {\n    // Get the two 16-bit register values\n    const reg1 = msg.payload[0];  // High register\n    const reg2 = msg.payload[1];  // Low register\n\n    // Create a buffer for the float conversion\n    const buffer = Buffer.alloc(4);\n\n    // Write as big-endian 16-bit values\n    buffer.writeUInt16BE(reg1, 0);\n    buffer.writeUInt16BE(reg2, 2);\n\n    // Read as big-endian float32\n    const frequency = buffer.readFloatBE(0);\n\n    msg.payload = {\n        raw_registers: [reg1, reg2],\n        frequency: frequency,\n        unit: \"Hz\",\n        timestamp: new Date().toISOString()\n    };\n\n    return msg;\n} else {\n    node.error(\"Invalid payload received\");\n    return null;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 820,
        "wires": [
            [
                "b16de7345d4b1435"
            ]
        ]
    },
    {
        "id": "6cfe1c40420703c0",
        "type": "function",
        "z": "3e4ec9d64cc2150e",
        "d": true,
        "name": "PF3",
        "func": "// Convert 2 registers to float32\n// Assuming big-endian byte order (most common)\n\nif (msg.payload && msg.payload.length >= 2) {\n    // Get the two 16-bit register values\n    const reg1 = msg.payload[0];  // High register\n    const reg2 = msg.payload[1];  // Low register\n    \n    // Create a buffer for the float conversion\n    const buffer = Buffer.alloc(4);\n    \n    // Write as big-endian 16-bit values\n    buffer.writeUInt16BE(reg1, 0);\n    buffer.writeUInt16BE(reg2, 2);\n    \n    // Read as big-endian float32\n    const PowerFactor = buffer.readFloatBE(0);\n    \n    msg.payload = {\n        raw_registers: [reg1, reg2],\n        power_factor3: PowerFactor,\n        unit: \"\",\n        timestamp: new Date().toISOString()\n    };\n    \n    return msg;\n} else {\n    node.error(\"Invalid payload received\");\n    return null;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 740,
        "wires": [
            [
                "b16de7345d4b1435"
            ]
        ]
    },
    {
        "id": "a832d7edae0aeb3c",
        "type": "function",
        "z": "3e4ec9d64cc2150e",
        "d": true,
        "name": "PF2",
        "func": "// Convert 2 registers to float32\n// Assuming big-endian byte order (most common)\n\nif (msg.payload && msg.payload.length >= 2) {\n    // Get the two 16-bit register values\n    const reg1 = msg.payload[0];  // High register\n    const reg2 = msg.payload[1];  // Low register\n    \n    // Create a buffer for the float conversion\n    const buffer = Buffer.alloc(4);\n    \n    // Write as big-endian 16-bit values\n    buffer.writeUInt16BE(reg1, 0);\n    buffer.writeUInt16BE(reg2, 2);\n    \n    // Read as big-endian float32\n    const PowerFactor = buffer.readFloatBE(0);\n    \n    msg.payload = {\n        raw_registers: [reg1, reg2],\n        power_factor2: PowerFactor,\n        unit: \"\",\n        timestamp: new Date().toISOString()\n    };\n    \n    return msg;\n} else {\n    node.error(\"Invalid payload received\");\n    return null;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 700,
        "wires": [
            [
                "b16de7345d4b1435"
            ]
        ]
    },
    {
        "id": "dbc2f71172f604ad",
        "type": "function",
        "z": "3e4ec9d64cc2150e",
        "d": true,
        "name": "PF1",
        "func": "// Convert 2 registers to float32\n// Assuming big-endian byte order (most common)\n\nif (msg.payload && msg.payload.length >= 2) {\n    // Get the two 16-bit register values\n    const reg1 = msg.payload[0];  // High register\n    const reg2 = msg.payload[1];  // Low register\n    \n    // Create a buffer for the float conversion\n    const buffer = Buffer.alloc(4);\n    \n    // Write as big-endian 16-bit values\n    buffer.writeUInt16BE(reg1, 0);\n    buffer.writeUInt16BE(reg2, 2);\n    \n    // Read as big-endian float32\n    const power_factor1 = buffer.readFloatBE(0);\n    \n    msg.payload = {\n        raw_registers: [reg1, reg2],\n        power_factor1: power_factor1,\n        unit: \"\",\n        timestamp: new Date().toISOString()\n    };\n    \n    return msg;\n} else {\n    node.error(\"Invalid payload received\");\n    return null;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 660,
        "wires": [
            [
                "b16de7345d4b1435"
            ]
        ]
    },
    {
        "id": "e5edabe5074ecdc7",
        "type": "function",
        "z": "3e4ec9d64cc2150e",
        "d": true,
        "name": "Total KVA",
        "func": "// Convert 2 registers to float32 for Total KVA\n// Assuming big-endian byte order (most common)\n\nif (msg.payload && msg.payload.length >= 2) {\n    // Get the two 16-bit register values\n    const reg1 = msg.payload[0];  // High register\n    const reg2 = msg.payload[1];  // Low register\n\n    // Create a buffer for the float conversion\n    const buffer = Buffer.alloc(4);\n\n    // Write as big-endian 16-bit values\n    buffer.writeUInt16BE(reg1, 0);\n    buffer.writeUInt16BE(reg2, 2);\n\n    // Read as big-endian float32\n    const totalKVA = buffer.readFloatBE(0);\n\n    msg.payload = {\n        raw_registers: [reg1, reg2],\n        total_kva: totalKVA,\n        unit: \"kVA\",\n        timestamp: new Date().toISOString()\n    };\n\n    return msg;\n} else {\n    node.error(\"Invalid payload received\");\n    return null;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 620,
        "wires": [
            [
                "b16de7345d4b1435"
            ]
        ]
    },
    {
        "id": "25381fc5ea0e22b7",
        "type": "function",
        "z": "3e4ec9d64cc2150e",
        "d": true,
        "name": "Total KW",
        "func": "// Convert 2 registers to float32 for Total KW\n// Assuming big-endian byte order (most common)\n\nif (msg.payload && msg.payload.length >= 2) {\n    // Get the two 16-bit register values\n    const reg1 = msg.payload[0];  // High register\n    const reg2 = msg.payload[1];  // Low register\n\n    // Create a buffer for the float conversion\n    const buffer = Buffer.alloc(4);\n\n    // Write as big-endian 16-bit values\n    buffer.writeUInt16BE(reg1, 0);\n    buffer.writeUInt16BE(reg2, 2);\n\n    // Read as big-endian float32\n    const totalKW = buffer.readFloatBE(0);\n\n    msg.payload = {\n        raw_registers: [reg1, reg2],\n        total_kw: totalKW,\n        unit: \"kW\",\n        timestamp: new Date().toISOString()\n    };\n\n    return msg;\n} else {\n    node.error(\"Invalid payload received\");\n    return null;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 580,
        "wires": [
            [
                "b16de7345d4b1435"
            ]
        ]
    },
    {
        "id": "21377348f3ebf586",
        "type": "function",
        "z": "3e4ec9d64cc2150e",
        "d": true,
        "name": "kVA1",
        "func": "// Convert 2 registers to float32 for kVA1\n// Assuming big-endian byte order (most common)\n\nif (msg.payload && msg.payload.length >= 2) {\n    // Get the two 16-bit register values\n    const reg1 = msg.payload[0];  // High register\n    const reg2 = msg.payload[1];  // Low register\n\n    // Create a buffer for the float conversion\n    const buffer = Buffer.alloc(4);\n\n    // Write as big-endian 16-bit values\n    buffer.writeUInt16BE(reg1, 0);\n    buffer.writeUInt16BE(reg2, 2);\n\n    // Read as big-endian float32\n    const kVA1 = buffer.readFloatBE(0);\n\n    msg.payload = {\n        raw_registers: [reg1, reg2],\n        kva1: kVA1,\n        unit: \"kVA\",\n        timestamp: new Date().toISOString()\n    };\n\n    return msg;\n} else {\n    node.error(\"Invalid payload received\");\n    return null;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 460,
        "wires": [
            [
                "b16de7345d4b1435"
            ]
        ]
    },
    {
        "id": "9ffb1924530b6f75",
        "type": "function",
        "z": "3e4ec9d64cc2150e",
        "d": true,
        "name": " kW2",
        "func": "// Convert 2 registers to float32 for kW2\n// Assuming big-endian byte order (most common)\n\nif (msg.payload && msg.payload.length >= 2) {\n    // Get the two 16-bit register values\n    const reg1 = msg.payload[0];  // High register\n    const reg2 = msg.payload[1];  // Low register\n\n    // Create a buffer for the float conversion\n    const buffer = Buffer.alloc(4);\n\n    // Write as big-endian 16-bit values\n    buffer.writeUInt16BE(reg1, 0);\n    buffer.writeUInt16BE(reg2, 2);\n\n    // Read as big-endian float32\n    const kW2 = buffer.readFloatBE(0);\n\n    msg.payload = {\n        raw_registers: [reg1, reg2],\n        kw2: kW2,\n        unit: \"kW\",\n        timestamp: new Date().toISOString()\n    };\n\n    return msg;\n} else {\n    node.error(\"Invalid payload received\");\n    return null;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 380,
        "wires": [
            [
                "b16de7345d4b1435"
            ]
        ]
    },
    {
        "id": "2dbca183ad7e1bc4",
        "type": "function",
        "z": "3e4ec9d64cc2150e",
        "d": true,
        "name": "MAX I2 Demand",
        "func": "// Convert 2 registers to float32 for MAX I2 Demand\n// Assuming big-endian byte order (most common)\n\nif (msg.payload && msg.payload.length >= 2) {\n    // Get the two 16-bit register values\n    const reg1 = msg.payload[0];  // High register\n    const reg2 = msg.payload[1];  // Low register\n\n    // Create a buffer for the float conversion\n    const buffer = Buffer.alloc(4);\n\n    // Write as big-endian 16-bit values\n    buffer.writeUInt16BE(reg1, 0);\n    buffer.writeUInt16BE(reg2, 2);\n\n    // Read as big-endian float32\n    const maxI2Demand = buffer.readFloatBE(0);\n\n    msg.payload = {\n        raw_registers: [reg1, reg2],\n        max_i2_demand: maxI2Demand,\n        unit: \"A\",\n        timestamp: new Date().toISOString()\n    };\n\n    return msg;\n} else {\n    node.error(\"Invalid payload received\");\n    return null;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 980,
        "wires": [
            [
                "b16de7345d4b1435"
            ]
        ]
    },
    {
        "id": "79a336504d69595d",
        "type": "function",
        "z": "3e4ec9d64cc2150e",
        "d": true,
        "name": "MAX I3 Demand",
        "func": "// Convert 2 registers to float32 for MAX I3 Demand\n// Assuming big-endian byte order (most common)\n\nif (msg.payload && msg.payload.length >= 2) {\n    // Get the two 16-bit register values\n    const reg1 = msg.payload[0];  // High register\n    const reg2 = msg.payload[1];  // Low register\n\n    // Create a buffer for the float conversion\n    const buffer = Buffer.alloc(4);\n\n    // Write as big-endian 16-bit values\n    buffer.writeUInt16BE(reg1, 0);\n    buffer.writeUInt16BE(reg2, 2);\n\n    // Read as big-endian float32\n    const maxI3Demand = buffer.readFloatBE(0);\n\n    msg.payload = {\n        raw_registers: [reg1, reg2],\n        max_i3_demand: maxI3Demand,\n        unit: \"A\", // Assuming Amperes, adjust if different\n        timestamp: new Date().toISOString()\n    };\n\n    return msg;\n} else {\n    node.error(\"Invalid payload received\");\n    return null;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 1020,
        "wires": [
            [
                "b16de7345d4b1435"
            ]
        ]
    },
    {
        "id": "beec68660c6fa669",
        "type": "influxdb out",
        "z": "3e4ec9d64cc2150e",
        "d": true,
        "influxdb": "154b133124f6262e",
        "name": "SLT 1st Floor canteen",
        "measurement": "SLT 1st floor_canteen",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "SLT",
        "bucket": "SLT Canteens",
        "x": 1340,
        "y": 540,
        "wires": []
    },
    {
        "id": "c141192eded761f1",
        "type": "function",
        "z": "3e4ec9d64cc2150e",
        "d": true,
        "name": "Voltage_V1",
        "func": "// Convert 2 registers to float32 for Voltage V1N\nif (msg.payload && msg.payload.length >= 2) {\n    const reg1 = msg.payload[0];\n    const reg2 = msg.payload[1];\n\n    // Create a buffer for the float conversion\n    const buffer = Buffer.alloc(4);\n    buffer.writeUInt16BE(reg1, 0);\n    buffer.writeUInt16BE(reg2, 2);\n\n    // Read as big-endian float32\n    const voltageV1N = buffer.readFloatBE(0);\n\n    msg.payload = {\n        voltage_v1n: voltageV1N,\n        unit: \"V\",\n        timestamp: new Date().toISOString()\n    };\n\n    return msg;\n} else {\n    node.error(\"Invalid payload received\");\n    return null;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 60,
        "wires": [
            [
                "b16de7345d4b1435"
            ]
        ]
    },
    {
        "id": "70219e9908763078",
        "type": "function",
        "z": "3e4ec9d64cc2150e",
        "d": true,
        "name": "Average Voltage LN",
        "func": "// Convert 2 registers to float32 for Average Voltage LN\n// Assuming big-endian byte order (most common)\n\nif (msg.payload && msg.payload.length >= 2) {\n    // Get the two 16-bit register values\n    const reg1 = msg.payload[0];  // High register\n    const reg2 = msg.payload[1];  // Low register\n\n    // Create a buffer for the float conversion\n    const buffer = Buffer.alloc(4);\n\n    // Write as big-endian 16-bit values\n    buffer.writeUInt16BE(reg1, 0);\n    buffer.writeUInt16BE(reg2, 2);\n\n    // Read as big-endian float32\n    const averageVoltageLN = buffer.readFloatBE(0);\n\n    msg.payload = {\n        raw_registers: [reg1, reg2],\n        average_voltage_ln: averageVoltageLN,\n        unit: \"V\",\n        timestamp: new Date().toISOString()\n    };\n\n    return msg;\n} else {\n    node.error(\"Invalid payload received\");\n    return null;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 180,
        "wires": [
            [
                "b16de7345d4b1435"
            ]
        ]
    },
    {
        "id": "b810056d28a5f833",
        "type": "function",
        "z": "3e4ec9d64cc2150e",
        "d": true,
        "name": "Average PF",
        "func": "// Convert 2 registers to float32 for Average PF\n// Assuming big-endian byte order (most common)\n\nif (msg.payload && msg.payload.length >= 2) {\n    // Get the two 16-bit register values\n    const reg1 = msg.payload[0];  // High register\n    const reg2 = msg.payload[1];  // Low register\n\n    // Create a buffer for the float conversion\n    const buffer = Buffer.alloc(4);\n\n    // Write as big-endian 16-bit values\n    buffer.writeUInt16BE(reg1, 0);\n    buffer.writeUInt16BE(reg2, 2);\n\n    // Read as big-endian float32\n    const averagePF = buffer.readFloatBE(0);\n\n    msg.payload = {\n        raw_registers: [reg1, reg2],\n        average_pf: averagePF,\n        unit: \"\",\n        timestamp: new Date().toISOString()\n    };\n\n    return msg;\n} else {\n    node.error(\"Invalid payload received\");\n    return null;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 780,
        "wires": [
            [
                "b16de7345d4b1435"
            ]
        ]
    },
    {
        "id": "847146131e321e5e",
        "type": "function",
        "z": "3e4ec9d64cc2150e",
        "d": true,
        "name": "MAX Avg. I Demand",
        "func": "// Convert 2 registers to float32 for MAX Avg. I Demand\n// Assuming big-endian byte order (most common)\n\nif (msg.payload && msg.payload.length >= 2) {\n    // Get the two 16-bit register values\n    const reg1 = msg.payload[0];  // High register\n    const reg2 = msg.payload[1];  // Low register\n\n    // Create a buffer for the float conversion\n    const buffer = Buffer.alloc(4);\n\n    // Write as big-endian 16-bit values\n    buffer.writeUInt16BE(reg1, 0);\n    buffer.writeUInt16BE(reg2, 2);\n\n    // Read as big-endian float32\n    const maxAvgIDemand = buffer.readFloatBE(0);\n\n    msg.payload = {\n        raw_registers: [reg1, reg2],\n        max_avg_i_demand: maxAvgIDemand,\n        unit: \"A\", // Amperes for current demand\n        timestamp: new Date().toISOString()\n    };\n\n    return msg;\n} else {\n    node.error(\"Invalid payload received\");\n    return null;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 1060,
        "wires": [
            [
                "b16de7345d4b1435"
            ]
        ]
    },
    {
        "id": "6d52ae9667be5ff8",
        "type": "modbus-read",
        "z": "3e4ec9d64cc2150e",
        "d": true,
        "name": "Voltage V1N",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "3",
        "dataType": "InputRegister",
        "adr": "1",
        "quantity": "2",
        "rate": "1",
        "rateUnit": "s",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "4d69447ace34558a",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 350,
        "y": 60,
        "wires": [
            [
                "c141192eded761f1"
            ],
            []
        ]
    },
    {
        "id": "150aab1ff4759ed3",
        "type": "modbus-read",
        "z": "3e4ec9d64cc2150e",
        "d": true,
        "name": "MAX I2 Demand",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "3",
        "dataType": "InputRegister",
        "adr": "695",
        "quantity": "2",
        "rate": "5",
        "rateUnit": "s",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "4d69447ace34558a",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 360,
        "y": 980,
        "wires": [
            [
                "2dbca183ad7e1bc4"
            ],
            []
        ]
    },
    {
        "id": "20c5e7d4519ecd88",
        "type": "modbus-read",
        "z": "3e4ec9d64cc2150e",
        "d": true,
        "name": "MAX I1 Demand",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "3",
        "dataType": "InputRegister",
        "adr": "693",
        "quantity": "2",
        "rate": "5",
        "rateUnit": "s",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "4d69447ace34558a",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 360,
        "y": 940,
        "wires": [
            [
                "d3d0d04a512cf95a"
            ],
            []
        ]
    },
    {
        "id": "808cf8876bebb0f0",
        "type": "modbus-read",
        "z": "3e4ec9d64cc2150e",
        "d": true,
        "name": "Total net kVAh",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "3",
        "dataType": "InputRegister",
        "adr": "61",
        "quantity": "2",
        "rate": "5",
        "rateUnit": "s",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "4d69447ace34558a",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 350,
        "y": 900,
        "wires": [
            [
                "9fc5298dada5a021"
            ],
            []
        ]
    },
    {
        "id": "59abcdb1e4924650",
        "type": "modbus-read",
        "z": "3e4ec9d64cc2150e",
        "d": true,
        "name": "Total net kWh",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "3",
        "dataType": "InputRegister",
        "adr": "59",
        "quantity": "2",
        "rate": "5",
        "rateUnit": "s",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "4d69447ace34558a",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 350,
        "y": 860,
        "wires": [
            [
                "69b6608c730c957e"
            ],
            []
        ]
    },
    {
        "id": "13a719c1bc4b3a38",
        "type": "modbus-read",
        "z": "3e4ec9d64cc2150e",
        "d": true,
        "name": "Frequency",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "3",
        "dataType": "InputRegister",
        "adr": "57",
        "quantity": "2",
        "rate": "5",
        "rateUnit": "s",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "4d69447ace34558a",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 340,
        "y": 820,
        "wires": [
            [
                "956bbbb98e387051"
            ],
            []
        ]
    },
    {
        "id": "cdf2da42e4714ef0",
        "type": "modbus-read",
        "z": "3e4ec9d64cc2150e",
        "d": true,
        "name": "Average PF",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "3",
        "dataType": "InputRegister",
        "adr": "55",
        "quantity": "2",
        "rate": "5",
        "rateUnit": "s",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "4d69447ace34558a",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 350,
        "y": 780,
        "wires": [
            [
                "b810056d28a5f833"
            ],
            []
        ]
    },
    {
        "id": "444e348958aecff1",
        "type": "modbus-read",
        "z": "3e4ec9d64cc2150e",
        "d": true,
        "name": "PF3",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "3",
        "dataType": "InputRegister",
        "adr": "53",
        "quantity": "2",
        "rate": "5",
        "rateUnit": "s",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "4d69447ace34558a",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 330,
        "y": 740,
        "wires": [
            [
                "6cfe1c40420703c0"
            ],
            []
        ]
    },
    {
        "id": "321672b09f7cf65f",
        "type": "modbus-read",
        "z": "3e4ec9d64cc2150e",
        "d": true,
        "name": "PF2",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "3",
        "dataType": "InputRegister",
        "adr": "51",
        "quantity": "2",
        "rate": "5",
        "rateUnit": "s",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "4d69447ace34558a",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 330,
        "y": 700,
        "wires": [
            [
                "a832d7edae0aeb3c"
            ],
            []
        ]
    },
    {
        "id": "03e58564d56adc97",
        "type": "modbus-read",
        "z": "3e4ec9d64cc2150e",
        "d": true,
        "name": "PF1",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "3",
        "dataType": "InputRegister",
        "adr": "49",
        "quantity": "2",
        "rate": "5",
        "rateUnit": "s",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "4d69447ace34558a",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 330,
        "y": 660,
        "wires": [
            [
                "dbc2f71172f604ad"
            ],
            []
        ]
    },
    {
        "id": "cda7f2042c722e35",
        "type": "modbus-read",
        "z": "3e4ec9d64cc2150e",
        "d": true,
        "name": "Total KVA",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "3",
        "dataType": "InputRegister",
        "adr": "45",
        "quantity": "2",
        "rate": "5",
        "rateUnit": "s",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "4d69447ace34558a",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 340,
        "y": 620,
        "wires": [
            [
                "e5edabe5074ecdc7"
            ],
            []
        ]
    },
    {
        "id": "3d024dddbd3247ec",
        "type": "modbus-read",
        "z": "3e4ec9d64cc2150e",
        "d": true,
        "name": "Total KW",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "3",
        "dataType": "InputRegister",
        "adr": "43",
        "quantity": "2",
        "rate": "5",
        "rateUnit": "s",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "4d69447ace34558a",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 340,
        "y": 580,
        "wires": [
            [
                "25381fc5ea0e22b7"
            ],
            []
        ]
    },
    {
        "id": "c5f9e4c6cc5b9155",
        "type": "modbus-read",
        "z": "3e4ec9d64cc2150e",
        "d": true,
        "name": "kVA3",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "3",
        "dataType": "InputRegister",
        "adr": "35",
        "quantity": "2",
        "rate": "5",
        "rateUnit": "s",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "4d69447ace34558a",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 330,
        "y": 540,
        "wires": [
            [
                "696e9d6f39561017"
            ],
            []
        ]
    },
    {
        "id": "439fbcebe68f7137",
        "type": "modbus-read",
        "z": "3e4ec9d64cc2150e",
        "d": true,
        "name": "kVA2",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "3",
        "dataType": "InputRegister",
        "adr": "33",
        "quantity": "2",
        "rate": "5",
        "rateUnit": "s",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "4d69447ace34558a",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 330,
        "y": 500,
        "wires": [
            [
                "c1ccd0569b6f4ee2"
            ],
            []
        ]
    },
    {
        "id": "ad0b64b250df4c0b",
        "type": "modbus-read",
        "z": "3e4ec9d64cc2150e",
        "d": true,
        "name": "kVA1",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "3",
        "dataType": "InputRegister",
        "adr": "31",
        "quantity": "2",
        "rate": "5",
        "rateUnit": "s",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "4d69447ace34558a",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 330,
        "y": 460,
        "wires": [
            [
                "21377348f3ebf586"
            ],
            []
        ]
    },
    {
        "id": "f0b050e92506dbc2",
        "type": "modbus-read",
        "z": "3e4ec9d64cc2150e",
        "d": true,
        "name": "kW3",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "3",
        "dataType": "InputRegister",
        "adr": "29",
        "quantity": "2",
        "rate": "1",
        "rateUnit": "s",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "4d69447ace34558a",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 330,
        "y": 420,
        "wires": [
            [
                "2c592bcccc050d9e"
            ],
            []
        ]
    },
    {
        "id": "58962f1eddf0e984",
        "type": "modbus-read",
        "z": "3e4ec9d64cc2150e",
        "d": true,
        "name": " kW2",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "3",
        "dataType": "InputRegister",
        "adr": "27",
        "quantity": "2",
        "rate": "1",
        "rateUnit": "s",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "4d69447ace34558a",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 330,
        "y": 380,
        "wires": [
            [
                "9ffb1924530b6f75"
            ],
            []
        ]
    },
    {
        "id": "46a7b1a120252081",
        "type": "modbus-read",
        "z": "3e4ec9d64cc2150e",
        "d": true,
        "name": " kW1",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "3",
        "dataType": "InputRegister",
        "adr": "25",
        "quantity": "2",
        "rate": "1",
        "rateUnit": "s",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "4d69447ace34558a",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 330,
        "y": 340,
        "wires": [
            [
                "fbea3ffbabde683b"
            ],
            []
        ]
    },
    {
        "id": "6a3f4b2cd652165d",
        "type": "modbus-read",
        "z": "3e4ec9d64cc2150e",
        "d": true,
        "name": "Current I3",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "3",
        "dataType": "InputRegister",
        "adr": "21",
        "quantity": "2",
        "rate": "1",
        "rateUnit": "s",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "4d69447ace34558a",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 340,
        "y": 300,
        "wires": [
            [
                "f9545dd3bfde78ee"
            ],
            []
        ]
    },
    {
        "id": "e9eed9c1869b65ab",
        "type": "modbus-read",
        "z": "3e4ec9d64cc2150e",
        "d": true,
        "name": "Current I2",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "3",
        "dataType": "InputRegister",
        "adr": "19",
        "quantity": "2",
        "rate": "1",
        "rateUnit": "s",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "4d69447ace34558a",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 340,
        "y": 260,
        "wires": [
            [
                "cff6208d633cd079"
            ],
            []
        ]
    },
    {
        "id": "2a1b3e6af494f550",
        "type": "modbus-read",
        "z": "3e4ec9d64cc2150e",
        "d": true,
        "name": "Current I1",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "3",
        "dataType": "InputRegister",
        "adr": "17",
        "quantity": "2",
        "rate": "1",
        "rateUnit": "s",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "4d69447ace34558a",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 340,
        "y": 220,
        "wires": [
            [
                "518592087ce1e67b"
            ],
            []
        ]
    },
    {
        "id": "93725b0321175e97",
        "type": "modbus-read",
        "z": "3e4ec9d64cc2150e",
        "d": true,
        "name": "Average Voltage LN",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "3",
        "dataType": "InputRegister",
        "adr": "7",
        "quantity": "2",
        "rate": "1",
        "rateUnit": "s",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "4d69447ace34558a",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 370,
        "y": 180,
        "wires": [
            [
                "70219e9908763078"
            ],
            []
        ]
    },
    {
        "id": "635d5e2a2a70f71a",
        "type": "modbus-read",
        "z": "3e4ec9d64cc2150e",
        "d": true,
        "name": "Voltage V3N",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "3",
        "dataType": "InputRegister",
        "adr": "5",
        "quantity": "3",
        "rate": "1",
        "rateUnit": "s",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "4d69447ace34558a",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 350,
        "y": 140,
        "wires": [
            [
                "57921d2b8cf0d558"
            ],
            []
        ]
    },
    {
        "id": "807a74665cdf6f2c",
        "type": "modbus-read",
        "z": "3e4ec9d64cc2150e",
        "d": true,
        "name": "Voltage V2N",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "3",
        "dataType": "InputRegister",
        "adr": "3",
        "quantity": "2",
        "rate": "1",
        "rateUnit": "s",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "4d69447ace34558a",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 350,
        "y": 100,
        "wires": [
            [
                "7fc04ca97e81f841"
            ],
            []
        ]
    },
    {
        "id": "4de69604c5700fe0",
        "type": "modbus-read",
        "z": "3e4ec9d64cc2150e",
        "d": true,
        "name": "MAX Avg. I Demand",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "3",
        "dataType": "InputRegister",
        "adr": "699",
        "quantity": "2",
        "rate": "5",
        "rateUnit": "s",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "4d69447ace34558a",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 370,
        "y": 1060,
        "wires": [
            [
                "847146131e321e5e"
            ],
            []
        ]
    },
    {
        "id": "da7196c51676ee97",
        "type": "modbus-read",
        "z": "3e4ec9d64cc2150e",
        "d": true,
        "name": "MAX I3 Demand",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "3",
        "dataType": "InputRegister",
        "adr": "697",
        "quantity": "2",
        "rate": "5",
        "rateUnit": "s",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "4d69447ace34558a",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 360,
        "y": 1020,
        "wires": [
            [
                "79a336504d69595d"
            ],
            []
        ]
    },
    {
        "id": "1768447d1f478443",
        "type": "function",
        "z": "3e4ec9d64cc2150e",
        "name": "Prepare InfluxDB Data",
        "func": "// Prepare data for InfluxDB - Handle specific required fields only\ntry {\n    const data = msg.payload;\n    \n    // Validate input data\n    if (!data || typeof data !== 'object') {\n        node.error(\"Invalid payload - expected object\");\n        return null;\n    }\n    \n    const timestamp = new Date().toISOString();\n\n    // Function to ensure value is a valid number\n    function ensureNumber(value) {\n        if (value === null || value === undefined || value === \"\") return null;\n        if (typeof value === 'number') {\n            return isNaN(value) || !isFinite(value) ? null : Number(value.toFixed(3));\n        }\n        if (typeof value === 'string') {\n            const cleaned = value.replace(/[^0-9.-]/g, '').trim();\n            if (cleaned === '' || cleaned === '-' || cleaned === '.') return null;\n            const num = parseFloat(cleaned);\n            return isNaN(num) || !isFinite(num) ? null : Number(num.toFixed(3));\n        }\n        return null;\n    }\n\n    // Create fields object for specific required values only\n    const fields = {};\n    \n    // Required fields mapping based on your specification\n    const requiredFields = {\n        // Voltage readings\n        'voltage_v1n': data.voltage_v1n,\n        'voltage_v2n': data.voltage_v2n, \n        'voltage_v3n': data.voltage_v3n,\n        'average_voltage_ln': data.average_voltage_ln,\n        \n        // Current readings\n        'current_i1': data.current_i1,\n        'current_i2': data.current_i2,\n        'current_i3': data.current_i3,\n        'average_current': data.average_current,\n        \n        // Power readings (kW)\n        'kw1': data.kw1,\n        'kw2': data.kw2,\n        'kw3': data.kw3,\n        'total_kw': data.total_kw,\n        \n        // Apparent power (kVA)\n        'kva1': data.kva1,\n        'kva2': data.kva2,\n        'kva3': data.kva3,\n        'total_kva': data.total_kva,\n        \n        // Power factor\n        'pf1': data.pf1 || data.power_factor1,\n        'pf2': data.pf2 || data.power_factor2,\n        'pf3': data.pf3 || data.power_factor3,\n        'average_pf': data.average_pf || data.average_power_factor,\n        \n        // Frequency\n        'frequency': data.frequency,\n        \n        // Energy readings\n        'total_net_kwh': data.total_net_kwh,\n        'total_net_kvah': data.total_net_kvah,\n        \n        // Maximum demand readings\n        'max_i1_demand': data.max_i1_demand,\n        'max_i2_demand': data.max_i2_demand,\n        'max_i3_demand': data.max_i3_demand,\n        'max_avg_i_demand': data.max_avg_i_demand\n    };\n    \n    // Process only the required fields\n    for (const [fieldName, value] of Object.entries(requiredFields)) {\n        if (value !== undefined && value !== null) {\n            const processedValue = ensureNumber(value);\n            if (processedValue !== null) {\n                fields[fieldName] = processedValue;\n            }\n        }\n    }\n    \n    // Check if we have at least one valid field\n    if (Object.keys(fields).length === 0) {\n        node.warn(\"No valid required fields found. Available data fields: \" + \n                  Object.keys(data).filter(key => !['raw_registers', 'unit', 'timestamp'].includes(key)).join(', '));\n        return null;\n    }\n\n    // Create InfluxDB format with only required fields\n    msg.payload = {\n        ...fields,\n        device: \"SLT 1st floor\",\n        location: \"Canteen\"\n    };\n\n    node.log(`Sending ${Object.keys(fields).length} required parameters to InfluxDB: ${Object.keys(fields).join(', ')}`);\n    \n    return msg;\n    \n} catch (error) {\n    node.error(\"Error preparing InfluxDB data: \" + error.message);\n    return null;\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1220,
        "y": 1240,
        "wires": [
            [
                "38159ef7de9d9b70",
                "0d6a225f8af47848"
            ]
        ]
    },
    {
        "id": "38159ef7de9d9b70",
        "type": "influxdb out",
        "z": "3e4ec9d64cc2150e",
        "influxdb": "154b133124f6262e",
        "name": "SLT 1st Floor canteen",
        "measurement": "SLT 1st floor_canteen",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "SLT",
        "bucket": "SLT Canteens",
        "x": 1500,
        "y": 1240,
        "wires": []
    },
    {
        "id": "90d9eba977f8bcb1",
        "type": "inject",
        "z": "3e4ec9d64cc2150e",
        "name": "Start Canteen Every 5s",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 180,
        "y": 1240,
        "wires": [
            [
                "c583e8607120e8cb"
            ]
        ]
    },
    {
        "id": "c583e8607120e8cb",
        "type": "function",
        "z": "3e4ec9d64cc2150e",
        "name": "Start 1st Floor Sequence",
        "func": "// START sequential read for SLT 1st Floor Canteen\n// Initialize accumulator in flow context\nflow.set('SLT_1st_Floor_blocks', {});\n\n// Send first request: block_a (Address 1, qty 62)\nmsg.payload = {\n    value:    0,\n    unitid:   3,\n    fc:       4,\n    address:  1,\n    quantity: 62\n};\nmsg.topic = 'block_a';\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 1240,
        "wires": [
            [
                "5ce13c674a5b279e"
            ]
        ]
    },
    {
        "id": "5ce13c674a5b279e",
        "type": "modbus-flex-getter",
        "z": "3e4ec9d64cc2150e",
        "name": "Flex Getter SLT 1st Floor",
        "showStatusActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "logIOActivities": false,
        "server": "4d69447ace34558a",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": true,
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "x": 670,
        "y": 1240,
        "wires": [
            [
                "3fdc90bce930da8b"
            ],
            []
        ]
    },
    {
        "id": "3fdc90bce930da8b",
        "type": "function",
        "z": "3e4ec9d64cc2150e",
        "name": "Parse & Next SLT 1st Floor",
        "func": "// Sequential parser for SLT 1st Floor Canteen\nconst topic = msg.topic;\nconst regs = msg.payload;\n\nfunction readFloat(regs, startIndex) {\n    if (!regs || regs.length < startIndex + 2) return null;\n    const reg1 = regs[startIndex];\n    const reg2 = regs[startIndex + 1];\n    const buffer = Buffer.alloc(4);\n    buffer.writeUInt16BE(reg1, 0);\n    buffer.writeUInt16BE(reg2, 2);\n    return buffer.readFloatBE(0);\n}\n\n// Retrieve accumulator\nlet blocks = flow.get('SLT_1st_Floor_blocks') || {};\n\nif (!Array.isArray(regs)) {\n    node.warn('SLT 1st Floor bad response on ' + topic + ': ' + JSON.stringify(regs));\n} else {\n    if (topic === 'block_a') {\n        if (regs.length >= 62) {\n            blocks.voltage_v1n = readFloat(regs, 0);\n            blocks.voltage_v2n = readFloat(regs, 2);\n            blocks.voltage_v3n = readFloat(regs, 4);\n            blocks.average_voltage_ln = readFloat(regs, 6);\n\n            blocks.current_i1 = readFloat(regs, 16);\n            blocks.current_i2 = readFloat(regs, 18);\n            blocks.current_i3 = readFloat(regs, 20);\n\n            if (blocks.current_i1 !== null && blocks.current_i2 !== null && blocks.current_i3 !== null) {\n                blocks.average_current = (blocks.current_i1 + blocks.current_i2 + blocks.current_i3) / 3;\n            } else {\n                blocks.average_current = null;\n            }\n\n            blocks.kw1 = readFloat(regs, 24);\n            blocks.kw2 = readFloat(regs, 26);\n            blocks.kw3 = readFloat(regs, 28);\n\n            blocks.kva1 = readFloat(regs, 30);\n            blocks.kva2 = readFloat(regs, 32);\n            blocks.kva3 = readFloat(regs, 34);\n\n            blocks.total_kw = readFloat(regs, 42);\n            blocks.total_kva = readFloat(regs, 44);\n\n            blocks.pf1 = blocks.power_factor1 = readFloat(regs, 48);\n            blocks.pf2 = blocks.power_factor2 = readFloat(regs, 50);\n            blocks.pf3 = blocks.power_factor3 = readFloat(regs, 52);\n            blocks.average_pf = blocks.average_power_factor = readFloat(regs, 54);\n\n            blocks.frequency = readFloat(regs, 56);\n\n            blocks.total_net_kwh = readFloat(regs, 58);\n            blocks.total_net_kvah = readFloat(regs, 60);\n        } else {\n            node.warn('SLT 1st Floor block_a short: ' + regs.length);\n        }\n    } else if (topic === 'block_b') {\n        if (regs.length >= 8) {\n            blocks.max_i1_demand = readFloat(regs, 0);\n            blocks.max_i2_demand = readFloat(regs, 2);\n            blocks.max_i3_demand = readFloat(regs, 4);\n            blocks.max_avg_i_demand = readFloat(regs, 6);\n        } else {\n            node.warn('SLT 1st Floor block_b short: ' + regs.length);\n        }\n    }\n}\n\n// Save updated accumulator\nflow.set('SLT_1st_Floor_blocks', blocks);\n\n// Decide next action - send next request or finish\nconst sequence = {\n    'block_a': { address: 693, quantity: 8, next: 'block_b' },\n    'block_b': null\n};\n\nconst next = sequence[topic];\n\nif (next === null) {\n    // Done - send combined payload\n    msg.topic = 'done';\n    msg.payload = blocks;\n    flow.set('SLT_1st_Floor_blocks', {});\n    return [null, msg];\n} else if (next) {\n    var nextMsg = {\n        payload: {\n            value:    0,\n            unitid:   3,\n            fc:       4,\n            address:  next.address,\n            quantity: next.quantity\n        },\n        topic: next.next\n    };\n    setTimeout(function() {\n        node.send([nextMsg, null]);\n    }, 500);\n    return null;\n} else {\n    node.warn('Unknown topic: ' + topic);\n    return [null, null];\n}",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 1240,
        "wires": [
            [
                "5ce13c674a5b279e"
            ],
            [
                "1768447d1f478443"
            ]
        ]
    },
    {
        "id": "0d6a225f8af47848",
        "type": "debug",
        "z": "3e4ec9d64cc2150e",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1500,
        "y": 1320,
        "wires": []
    },
    {
        "id": "154b133124f6262e",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": 8086,
        "protocol": "http",
        "database": "database",
        "name": "123",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://124.43.179.232:8086",
        "timeout": 10,
        "rejectUnauthorized": true
    },
    {
        "id": "4d69447ace34558a",
        "type": "modbus-client",
        "name": "SLT 1st Floor Canteen",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "192.168.1.200",
        "tcpPort": 502,
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": 9600,
        "serialDatabits": 8,
        "serialStopbits": 1,
        "serialParity": "none",
        "serialConnectionDelay": 100,
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 3,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "b2ea820f953478af",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-influxdb": "0.7.0",
            "node-red-contrib-modbus": "5.44.0"
        }
    }
]